html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

*, body{
  padding: 0;
  margin: 0;
  border: none;
}


.side-bar{
  position: fixed;
  background-color: blue;
  width: 10rem;
  height: 100%;
}


